@tailwind base;
@tailwind components;
@tailwind utilities;


*{margin: 0px; padding: 0px; box-sizing: border-box;}

body{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  background:  rgb(243, 244, 245);
  color: rgba(0,0,0,0.8)
}

.container{width: 95%; margin: auto}

header .top-strip{border-top: 1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1);}


.link:hover{color: #FFCB00}

.MuiBadge-badge{background-color: #FFCB00 !important;}

nav ul button{text-transform: capitalize !important;}

nav ul button:hover{background:none !important;}

